In [1]:
! ls -lt /home/dsc/bdeotto/reto_amadeus

total 1019064
-rw-rw-r-- 1 dsc dsc     38868 nov 20 21:52 reto_Amadeus.ipynb
-rw-rw-r-- 1 dsc dsc   4232732 nov 20 19:00 bookings.sample.csv
-rw-rw-r-- 1 dsc dsc    535893 nov 20 18:24 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    535893 nov 20 17:41 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc 554970628 nov 20 17:17 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc 483188920 nov 20 17:17 searches.csv.bz2

In [2]:
# Extrae 100000 lineas para crear un archivo csv de muestra:
! bzcat /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2 | head -n 10000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2, output file = (stdout)

In [3]:
# comprime el archivo en formato bz2: 
! bzip2  bookings.sample.csv

bzip2: Output file bookings.sample.csv.bz2 already exists.

In [4]:
! ls -lt

total 1019064
-rw-rw-r-- 1 dsc dsc   4232732 nov 20 22:42 bookings.sample.csv
-rw-rw-r-- 1 dsc dsc     38868 nov 20 21:52 reto_Amadeus.ipynb
-rw-rw-r-- 1 dsc dsc    535893 nov 20 18:24 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    535893 nov 20 17:41 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc 554970628 nov 20 17:17 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc 483188920 nov 20 17:17 searches.csv.bz2

In [5]:
! bzcat /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2 | head -10

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^SALATLCLT      ^NV^L        ^Y        ^2013-04-12 13:04:00^2013-04-12 22:05:40^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^CLTATLSAL      ^NV^U        ^Y        ^2013-07-15 07:00:00^2013-07-15 11:34:51^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^AKLHKGSVO      ^XK^G        ^Y        ^2013-04-24 23:59:00^2013-04-25 16:06:31^1^2013^3^SYDA82546
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^SVOHKGAKL      ^XK^G        ^Y        ^2013-05-14 20:15:00^2013-05-16 10:44:50^1^2013^3^SYDA82546
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^DENLGA         ^FK^W        ^Y        ^2013-04-07 10:23:00^2013-04-07 16:14:24^1^2013^3^NULL
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^LGADEN         ^FK^K        ^Y        ^2013-04-11 11:15:00^2013-04-11 13:06:24^1^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^NRTSIN  ^SINTYO  ^JPSG    ^1^NRTSIN         ^XR^Q        ^Y        ^2013-04-14 11:05:00^2013-04-14 17:10:56^2^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^PEN     ^PEN     ^MY      ^PENSIN  ^PENSIN  ^MYSG    ^1^SINPEN         ^WS^Y        ^Y        ^2013-04-16 15:45:00^2013-04-16 17:15:29^2^2013^3^NULL

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2, output file = (stdout)

In [6]:
# para usar el archivo comprimido con python: 
import bz2

In [7]:
! ls -l

total 1019064
-rw-rw-r-- 1 dsc dsc 554970628 nov 20 17:17 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc   4232732 nov 20 22:42 bookings.sample.csv
-rw-rw-r-- 1 dsc dsc    535893 nov 20 17:41 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    535893 nov 20 18:24 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc     38868 nov 20 21:52 reto_Amadeus.ipynb
-rw-rw-r-- 1 dsc dsc 483188920 nov 20 17:17 searches.csv.bz2

In [9]:
# Forma no recomendada. Requiere cerrar el archivo (o produce error si se ejecuta de nuevo)
fileBz2=bz2.BZ2File('/home/dsc/bdeotto/reto_amadeus/bookings.sample.csv.bz2')

In [10]:
fileBz2.close

In [11]:
# Forma más correcta. El archivo queda cerrado
# Prueba: contar líneas con el archivo de muestra
with bz2.BZ2File('/home/dsc/bdeotto/reto_amadeus/bookings.sample.csv.bz2') as fileBz2:
    counter=0
    for line in fileBz2: counter=counter+1
print (counter)

10000

In [ ]:
# Ejercicio 1_1 con python: 
with bz2.BZ2File('/home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2') as fileBz2:
    counter=0
    for line in fileBz2: counter=counter+1
num_lineas_booking=counter
print (num_lineas_booking)

In [ ]:
# Ejercicio 1_2 con python: 
with bz2.BZ2File('/home/dsc/bdeotto/reto_amadeus/searches.csv.bz2') as fileBz2:
    counter=0
    for line in fileBz2: counter=counter+1
num_lineas_searches=counter
print (num_lineas_searches)

In [12]:
import pandas as pd
import numpy as np
df_sample=pd.read_csv('/home/dsc/bdeotto/reto_amadeus/bookings.sample.csv',delimiter='^')

In [13]:
df_sample.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [14]:
df_sample.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [15]:
df_sample.columns[5]

'rloc          '

In [16]:
# valores únicos de columna rloc en sample
df_sample[df_sample.columns[5]].nunique()

3638

In [22]:
df_sample.shape

(9999, 38)

In [23]:
# Ejercicio 2, pruebas. Top 10 aeropuertos por pasajeros como benchmark para comprobación posterior
df_reduced=df_sample[['arr_port','pax']]
top10_bmark=df_reduced.groupby('arr_port').sum().sort_values(by='pax',ascending=False)[:10]
top10_bmark

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

In [24]:
# Ejercicio 2, pruebas. Crea iterable descomprimiendo fragmento a fragmento
reader=pd.read_csv('bookings.sample.csv.bz2',compression='bz2',\
                  sep='^',iterator=True,chunksize=1000)

In [25]:
# Pruebas. Cuenta filas de dataframe de muestra
nlines=0
for df in reader: nlines=nlines+len(df)
print (nlines)

9999

In [26]:
# Excercise 1_1: Filas de dataframe bookings (excluída fila de títulos de col.)
Big_reader_1=pd.read_csv('bookings.csv.bz2',compression='bz2',\
                  sep='^',iterator=True,chunksize=10000)
nlines=0
for df in Big_reader_1: nlines=nlines+len(df)
print (nlines)

10000010

In [27]:
# Excercise 1_1
num_filas_en_booking_csv_bz2=nlines
num_filas_en_booking_csv_bz2

10000010

In [28]:
# Exercise 1_2. Filas de datagrame searches
Big_reader_2=pd.read_csv('searches.csv.bz2',compression='bz2',\
                  sep='^',iterator=True,chunksize=10000)
nlines=0
for df in Big_reader_2: 
    nlines=nlines+len(df)
print (nlines)

20390198

In [29]:
# Excercise 1_2
num_filas_en_searches_csv_bz2=nlines
num_filas_en_searches_csv_bz2

20390198

In [30]:
# Exercise 2. Prueba con sample:
relvnt_cols=['arr_port','pax']
reader=pd.read_csv('bookings.sample.csv.bz2',compression='bz2',\
                  sep='^',iterator=True,chunksize=1000)
df_aux=pd.DataFrame()
n=0
for df in reader:
    df=df[relvnt_cols]
    df['arr_port']=df['arr_port'].str.strip().str.upper()
    df_1=df.groupby('arr_port').sum()
    df_aux=df_aux.append(df_1)
    n=n+1
    #if n==2: break
df_aux.shape

(2078, 1)

In [31]:
top10_sample=df_aux.groupby('arr_port').sum().sort_values(by='pax',ascending=False)[:10]
top10_sample

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

In [53]:
# Comprobación: (requiere prescindir de índices)
top10_bmark.reset_index(drop=True).equals(top10_sample.reset_index(drop=True))

True

In [65]:
# Exercise 2
relvnt_cols=['arr_port','pax']
Big_reader=pd.read_csv('bookings.csv.bz2',compression='bz2',\
                  sep='^',iterator=True,chunksize=10000)
df_aux=pd.DataFrame()
n=0
for df in Big_reader:
    df=df[relvnt_cols]
    df['arr_port']=df['arr_port'].str.strip().str.upper()
    df_1=df.groupby('arr_port').sum()
    df_aux=df_aux.append(df_1)
    n=n+1
    if n%100==0: print (f'{n} df añadidos')

100 df añadidos
200 df añadidos
300 df añadidos
400 df añadidos
500 df añadidos
600 df añadidos
700 df añadidos
800 df añadidos
900 df añadidos
1000 df añadidos

In [70]:
df_bookings_PaxPerAirport=df_aux.copy()
n_for_top_list=10
top_bookings=df_bookings_PaxPerAirport.groupby('arr_port').sum()\
            .sort_values(by='pax',ascending=False)[:n_for_top_list]
top_bookings

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

In [72]:
top_bookings.to_csv('02.output.csv',sep='^')

In [73]:
# Exercise 3. Sample file para searches: 
! bzcat /home/dsc/bdeotto/reto_amadeus/searches.csv.bz2 | head -n 10000 > searches.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/bdeotto/reto_amadeus/searches.csv.bz2, output file = (stdout)

In [74]:
! bzip2  searches.sample.csv

In [75]:
! ls -lt

total 1018780
-rw-rw-r-- 1 dsc dsc    244720 nov 21 09:37 searches.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc     35443 nov 21 09:35 reto_Amadeus.ipynb
-rw-rw-r-- 1 dsc dsc       133 nov 21 09:18 02.output.csv
-rw-rw-r-- 1 dsc dsc   4232732 nov 20 22:42 bookings.sample.csv
-rw-rw-r-- 1 dsc dsc    535893 nov 20 18:24 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc 554970628 nov 20 17:17 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc 483188920 nov 20 17:17 searches.csv.bz2

In [120]:
df_searches_sample=pd.read_csv('searches.sample.csv.bz2',compression='bz2',sep='^')

In [121]:
df_searches_sample.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [122]:
df_searches_sample.shape

(9999, 45)

In [123]:
df_searches_sample.columns.sort_values()

Index(['Country', 'Date', 'Destination', 'From', 'InternetOffice',
       'IsFromInternet', 'IsFromVista', 'IsPublishedForNeg', 'NbSegments',
       'OfficeID', 'Origin', 'RoundTrip', 'Seg1Arrival', 'Seg1BookingCode',
       'Seg1Carrier', 'Seg1Date', 'Seg1Departure', 'Seg2Arrival',
       'Seg2BookingCode', 'Seg2Carrier', 'Seg2Date', 'Seg2Departure',
       'Seg3Arrival', 'Seg3BookingCode', 'Seg3Carrier', 'Seg3Date',
       'Seg3Departure', 'Seg4Arrival', 'Seg4BookingCode', 'Seg4Carrier',
       'Seg4Date', 'Seg4Departure', 'Seg5Arrival', 'Seg5BookingCode',
       'Seg5Carrier', 'Seg5Date', 'Seg5Departure', 'Seg6Arrival',
       'Seg6BookingCode', 'Seg6Carrier', 'Seg6Date', 'Seg6Departure',
       'TerminalID', 'Time', 'TxnCode'],
      dtype='object')

In [129]:
df_searches_sample[df_searches_sample['Destination'].isin(['AGP','MAD','BCN'])].sample(10)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
623,2013-01-01,18:15:32,MTP,e08742a93e1d3d9e679723625a3484fc,DE,NUE,BCN,1,2,NUE,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
3912,2013-01-04,23:26:47,FFP,8e26311e3f5deaceabc65406c823f84d,DE,DUS,BCN,0,1,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
6249,2013-01-07,21:44:34,MPT,2db4a7b125b428c48af8afacda03eb5b,SE,STO,BCN,1,2,STO,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MMA
8345,2013-01-09,01:54:34,MPT,ab93c39b49feffbc80c2cb5420106c87,FR,CDG,MAD,0,1,CDG,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
791,2013-01-01,15:24:57,MPT,440642a9bdaeb6287f826cefd73255e8,US,NYC,MAD,1,2,NYC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
5190,2013-01-06,19:05:36,MTP,236cbf458f79dbb9d5e9c9430438c3db,US,CLT,BCN,1,2,CLT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
8372,2013-01-09,09:45:58,MPT,b2f919c3d6a9ba67140ad215791fb7a1,RU,MOW,BCN,1,2,MOW,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MOW
5855,2013-01-06,09:29:58,MPT,d8cfdeaa1e5442b0fb728a71485f426c,ES,SVQ,BCN,1,2,SVQ,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
3113,2013-01-04,18:04:50,MPT,50c54b52322080d2c257390f714f91bd,ES,NYC,MAD,0,1,NYC,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
9906,2013-01-10,09:40:22,FXA,3ad98ba166b0e89f5151e5fe0187f588,ES,PMI,MAD,0,1,PMI,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,eafee70ca1d806dec0164e883a81b009,PMI

In [135]:
print (df_searches_sample_rduced.shape)
df_searches_sample_rduced=df_searches_sample[df_searches_sample['Destination'].isin(['AGP','MAD','BCN'])]\
                                .drop_duplicates()\
                                .drop_duplicates(subset=['Date','Time','OfficeID','TerminalID','InternetOffice'])
df_searches_sample_rduced.sample(10)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
2514,2013-01-03,15:11:56,FXA,9f957bf4e85a1d4ba71a39f553949dde,ES,SCQ,BCN,0,1,SCQ,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,782dcd9f4dcb3431a17bd34ce467110c,MAD
6385,2013-01-07,13:51:19,FQP,4014b98b900d9d8620abcfce2028e66d,NO,GOT,BCN,1,2,GOT,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
5453,2013-01-06,00:03:48,MPT,d8cfdeaa1e5442b0fb728a71485f426c,ES,BIO,BCN,0,1,BIO,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
4169,2013-01-05,01:22:52,MPT,d1b80a3dca253a3816073469f2cfe6be,GB,LTN,MAD,1,2,LTN,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LON
8331,2013-01-09,12:43:39,FXP,031b0f0b8c2229174704b8ac55276f66,DE,MUC,BCN,0,2,MUC,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,7245d4cabcfdbd93f823697fa78d3155,STR
4225,2013-01-05,12:16:25,MPT,9c3131cfd29c41358299f0b75aa8425b,IT,BLQ,BCN,1,2,BLQ,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MIL
7747,2013-01-08,02:49:06,FQD,a3ab256abb78596dad0f7a49091a9829,GB,PMI,AGP,1,2,PMI,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,3b7c7d7827e588001860e202aa885c02,LON
3945,2013-01-04,04:07:04,MPT,77db943d16ae24bc18eea1a0d7b40f4b,ES,PEK,MAD,1,2,PEK,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,VLC
2710,2013-01-03,20:41:16,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,FRA,BCN,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
3208,2013-01-04,14:46:30,CAL,eb39f686a3596fcf4b8e0cb85b67d836,US,MIA,MAD,1,2,MIA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC

In [133]:
df_searches_sample_rduced[['Date','Time','TerminalID']].nunique()

Date           10
Time          335
TerminalID     34
dtype: int64