In [1]:
! ls -lt /home/dsc/bdeotto/reto_amadeus

total 1019048
-rw-rw-r-- 1 dsc dsc     21620 nov 20 18:59 reto_Amadeus.ipynb
-rw-rw-r-- 1 dsc dsc   4232732 nov 20 18:26 bookings.sample.csv
-rw-rw-r-- 1 dsc dsc    535893 nov 20 18:24 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    535893 nov 20 17:41 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc 554970628 nov 20 17:17 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc 483188920 nov 20 17:17 searches.csv.bz2

In [2]:
! bzcat /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2 | head -n 10000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2, output file = (stdout)

In [3]:
# comprime el archivo: 
! bzip2  bookings.sample.csv

bzip2: Output file bookings.sample.csv.bz2 already exists.

In [4]:
! ls -lt

total 1019048
-rw-rw-r-- 1 dsc dsc   4232732 nov 20 19:00 bookings.sample.csv
-rw-rw-r-- 1 dsc dsc     21620 nov 20 18:59 reto_Amadeus.ipynb
-rw-rw-r-- 1 dsc dsc    535893 nov 20 18:24 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    535893 nov 20 17:41 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc 554970628 nov 20 17:17 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc 483188920 nov 20 17:17 searches.csv.bz2

In [5]:
! bzcat /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2 | head -10

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^SALATLCLT      ^NV^L        ^Y        ^2013-04-12 13:04:00^2013-04-12 22:05:40^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^US      ^e612b9eeeee6f17f42d9b0d3b79e75ca^7437560d8f276d6d05eeb806d9e7edee^737295a86982c941f1c2da9a46a14043^2013-03-26 00:00:00^135270^0^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLT     ^CLT     ^US      ^SAL     ^SAL     ^SV      ^CLTSAL  ^CLTSAL  ^SVUS    ^1^CLTATLSAL      ^NV^U        ^Y        ^2013-07-15 07:00:00^2013-07-15 11:34:51^1^2013^3^NULL
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^AKLHKGSVO      ^XK^G        ^Y        ^2013-04-24 23:59:00^2013-04-25 16:06:31^1^2013^3^SYDA82546
2013-03-26 00:00:00^1A    ^AU      ^0f984b3bb6bd06661c95529bbd6193bc^36472c6dbaf7afec9136ac40364e2794^5ecf00fdcbcec761c43dc7285253d0c1^2013-03-26 00:00:00^30885^0^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^SVO     ^MOW     ^RU      ^AKL     ^AKL     ^NZ      ^AKLSVO  ^AKLMOW  ^NZRU    ^1^SVOHKGAKL      ^XK^G        ^Y        ^2013-05-14 20:15:00^2013-05-16 10:44:50^1^2013^3^SYDA82546
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^DENLGA         ^FK^W        ^Y        ^2013-04-07 10:23:00^2013-04-07 16:14:24^1^2013^3^NULL
2013-03-20 00:00:00^1V    ^US      ^0283592e45e392871f7e14b1e22a9aaf^2d0f8e7e1bb792625d2f34f221bc38f1^d54708298686de200f8270e7c637af5e^2013-03-20 00:00:00^5923^0^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^LGA     ^NYC     ^US      ^DEN     ^DEN     ^US      ^DENLGA  ^DENNYC  ^USUS    ^0^LGADEN         ^FK^K        ^Y        ^2013-04-11 11:15:00^2013-04-11 13:06:24^1^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^NRTSIN  ^SINTYO  ^JPSG    ^1^NRTSIN         ^XR^Q        ^Y        ^2013-04-14 11:05:00^2013-04-14 17:10:56^2^2013^3^NULL
2013-03-25 00:00:00^1V    ^JP      ^5af045902bd23cab579915611d99e1e0^5073861d8597467c33596bfe16f23c56^a37584d1485cb35991e4ff1a2ba92262^2013-03-25 00:00:00^8371^60^NRT     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^HND     ^TYO     ^JP      ^SIN     ^SIN     ^SG      ^PEN     ^PEN     ^MY      ^PENSIN  ^PENSIN  ^MYSG    ^1^SINPEN         ^WS^Y        ^Y        ^2013-04-16 15:45:00^2013-04-16 17:15:29^2^2013^3^NULL

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/bdeotto/reto_amadeus/bookings.csv.bz2, output file = (stdout)

In [6]:
# para hacer lo mismo con python: 
import bz2

In [7]:
! ls -l

total 1019048
-rw-rw-r-- 1 dsc dsc 554970628 nov 20 17:17 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc   4232732 nov 20 19:00 bookings.sample.csv
-rw-rw-r-- 1 dsc dsc    535893 nov 20 17:41 bookings_sample.csv.bz2
-rw-rw-r-- 1 dsc dsc    535893 nov 20 18:24 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc     21620 nov 20 18:59 reto_Amadeus.ipynb
-rw-rw-r-- 1 dsc dsc 483188920 nov 20 17:17 searches.csv.bz2

In [8]:
! pwd

/home/dsc/bdeotto/reto_amadeus

In [9]:
# Forma no recomendada. Siempre hay que cerrar el archivo 
fileBz2=bz2.BZ2File('/home/dsc/bdeotto/reto_amadeus/bookings_sample.csv.bz2')

In [10]:
fileBz2.close

In [11]:
# Forma m√°s correcta. El archivo se cierra sin especificarlo
with bz2.BZ2File('/home/dsc/bdeotto/reto_amadeus/bookings_sample.csv.bz2') as fileBz2:
    counter=0
    for line in fileBz2: counter=counter+1
print (counter)

10000

In [12]:
import pandas as pd
df_sample=pd.read_csv('/home/dsc/bdeotto/reto_amadeus/bookings.sample.csv',delimiter='^')

In [13]:
df_sample.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [14]:
df_sample.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [15]:
df_sample.columns[5]

'rloc          '

In [19]:
df_sample[df_sample.columns[5]].nunique()

3638

In [20]:
df_sample.shape

(9999, 38)

In [29]:
df_0=df_sample[['arr_port','pax']]
df_0.groupby('arr_port').sum().sort_values('pax',ascending=False)[:10]

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

In [41]:
reader=pd.read_csv('bookings.sample.csv.bz2',compression='bz2',\
                  sep='^',iterator=True,chunksize=1000)

In [42]:
nlines=0
for df in reader: nlines=nlines+len(df)
print (nlines)

9999

In [43]:
Big_reader=pd.read_csv('bookings.csv.bz2',compression='bz2',\
                  sep='^',iterator=True,chunksize=10000)
nlines=0
for df in Big_reader: nlines=nlines+len(df)
print (nlines)

10000010

In [ ]:
#df_chunk=pd.read_csv('/home/dsc/bdeotto/reto_amadeus/bookings.csv',delimiter='^',chunksize=10000)
#for gm_chunk in pd.read_csv(csv_url,chunksize=c_size):
#    print(gm_chunk.shape)